.login-btn{
   
    background: none;
    border: 1px solid #0D6EFD;
    padding: none;
    color:#0D6EFD;
    width: 49%;
    height: 49px;
    border-radius: 8px;
    font-size: 1.3rem;
    transition: 0.2s ease-out;   
}
.login-btn:hover{
    background-color: #0D6EFD;
    color: white;
}